*{
	margin: 0px;
	padding: 0px;
}
body{
	background-image: url(../images/0.jpg);
	background-size:1500px 1400px;
}
#div1{
	height: 500px;
	width: 1490px;
	/*border: 2px red solid;*/
	padding: 10px;
}
#div01{
	width: 250px;
	height: 500px;
	/*border: 2px yellow solid;*/
	float: left;
}
#img1{
	width: 250px;
	height: 250px;
	margin-top: 50px;
}

#div02{
	width: 943px;
	height: 500px;
	margin-right: 20px;
	margin-left: 20px;
	/*border: 2px blue solid;*/
	float: left;
}
#p1{
	height: 50px;
	font-size: 30px;
	font-family: '宋体';
	font-weight: 300px;
	color: yellow;
	text-align: center;
}
#img2{
	width: 943px;
	height: 400px;
}

#div03{
	width: 250px;
	height: 500px;
	/*border: 2px yellow solid;*/
	float: left;
}
#img3{
	width: 250px;
	height: 250px;
	margin-top: 50px;
}

#div2{
	height: 910px;
	width: 1495px;
	border: 2px red solid;
}
.div20{
	width: 300px;
	height: 400px;
	margin-left: 60px;
	float: left;
	border: 2px red solid;
}
.img20{
	width: 300px;
	height: 400px;
}
.div50{
	width: 665px;
	height: 400px;
	margin-left: 60px;
    margin-top: 20px;
	float: left;
	border: 2px red solid;
}
.img50{
	width: 665px;
	height: 400px;
}

#div3{
	height: 950px;
	width: 1495px;
	border: 2px red solid;
}
.div30{
	width: 300px;
	height: 400px;
	margin-left: 60px;
	margin-top: 10px;
	float: left;
	border: 1px red solid;
}
#div4{
	height: 500px;
	width: 1495px;
	border: 2px red solid;
}
#div5{
	height: 1350px;
	width: 1495px;
	//*border: 1px yellow solid;*/
}


.div50{
	width: 665px;
	height: 400px;
	margin-left: 60px;
    margin-top: 20px;
	float: left;
	border: 2px red solid;
}
.img50{
	width: 665px;
	height: 400px;
}

.ty{
	margin-top: 5px;
	margin-left: 20px;
	margin-right: 20px;
	color: blue;
	line-height: 38px;
}


.div37{
	width:1400px;
	height: 400px;
	margin-left: 60px;
	margin-top: 10px;
	float: left;
	border: 1px red solid;
}

#wenyuan{
	width: 1490px;
	height: 500px;
	float: left;
}
#wenyuan h1{
	text-align: center;
	font-size: 70px;
	color: yellow;
}
#h1{
	margin-top: 170px;
}